@import '../../style/base.scss';
@import '../../style/reset.scss';
$header-height:  px2rem(56);
$header-color: transparent;
$border-red: solid 1px red;
$nav-drop-index: 100;

.zzdj-header-wrap {
  width: 100%;
  height:$header-height;
  border: $border-red;
  font-family: '微软雅黑';
  box-sizing: border-box;
  // background: $theme-color;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  div {
    box-sizing: border-box;
  }
  .zzdj-header-inner {
    width: px2rem(1400);
    height: 100%;
    margin: 0 auto;
    color: $header-color;
    // logo --satart
    .logo {
      float: left;
      padding-top: px2rem(10);
      img {
        width: px2rem(120);
      }
    }
    // logo --end

    // left-nav --start
    .zzdj-header-nav {
      float: left;
      height: 100%;
      margin-left: px2rem(40);
      width: px2rem(350);
      display: flex;
      justify-content: right;
      li {
        float: left;
        position: relative;
        margin: px2rem(10) px2rem(2);
        font-size: px2rem(18);
        text-align: center;
        padding: px2rem(4) px2rem(10) px2rem(4) px2rem(10);
        border-radius: px2rem(15);
        .nav-item-link {
          overflow: hidden;
          color: #fff;
          font-size: px2rem(14);
          span {
            float: left;
            padding: px2rem(4) px2rem(5) px2rem(6) px2rem(10);
          }
          .arrow {
            float: left;
            width: 9px;
            height: 5px;
            margin-top: 8px;
            transition: .5s transform;
            background: url(../../assets/images/header/arrow.png) no-repeat;
          }

          // drop box --satart
          .drop-wrap {
            display: none;
            // transform: rotate(180deg);
            // transition: 1s transform;
            position: absolute;
            min-height: 150px;
            min-width: 250px;
            padding-top: px2rem(15);
            z-index: $nav-drop-index;
            background: #fff;
            border-top: px2rem(2) solid #f80;
            top: px2rem(40);
            left: 50%;
            border-radius: px2rem(5);
            &:before {
              content: ' ';
              display: block;
              width: px2rem(14);
              height: px2rem(8);
              position: absolute;
              top: -7px;
              left: 50%;
              margin-left: -7px;
              z-index: $nav-drop-index + 1;
              background: url(../../assets/images/header/header_icon.png) no-repeat;
              background-position: -9px 0;
            }
          }
          .classify {
            width: px2rem(280);
            padding: 15px;
            margin-left: px2rem(-140);
            .drop-classify {
              color: #555;
              box-sizing: border-box;
              height: auto;
              .drop-classify-inner {
                box-sizing: border-box;
                padding: 0 -5px 10px 0;
                h3 {
                  box-sizing: border-box;
                  font-size: px2rem(14);
                  font-weight: 700;
                  text-align: left;
                }
                div {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-wrap: wrap;
                  flex-direction: row;
                  width: 100%;
                  padding: 10px 0;
                  // height: 100px;
                  a {
                    width: 78px;
                    height: 22px;
                    margin: 4px 2px 0 2px;
                    border: 1px solid #e3e7e8;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 11px;
                    text-decoration: none;
                    color: #666;
                    font-size: px2rem(12);
                    white-space: nowrap;
                    word-wrap: normal;
                    overflow: hidden;
                    &:hover {
                      background: #f80;
                      color: #fff;
                    }
                  }
                }
              }
              .drop-load-more {
                display: block;
                font-size: 12px;
                line-height: 28px;
                border-radius: 14px;
                margin: 10px 0px;
                color: #555;
                background: #F1F2F4;
                text-align: center;
                // border: solid 1px red;
                &:hover {
                  background: #f80;
                  color: #fff;
                }
               }
               
            }
          }
        }
        &:hover {
          background: #ff9600;
          .arrow {
            transform:rotate(180deg);
            transition: .5s transform;
          }
          .drop-wrap {
            display: block;
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            transition: 1s transform;
          }
        }
        
      }
      .nav-active {
        background: #ff9600;
      }
    }
    // left-nav --end

    // search box --start
    .nav-search-wrap {
      float: left;
      width: px2rem(252);
      height: px2rem(34);
      margin: px2rem(11) 0 px2rem(20) 0;
      border-radius: px2rem(17);
      background: rgba(255,255,255,.3);
      input {
        float: left;
        height: 100%;
        background: transparent;
        color: #000;
        line-height: px2rem(34);
        padding-left: px2rem(15);
        font-size: px2rem(14);
        width: 200px;
        border-radius: px2rem(17);
        outline: none;
      }
      span {
        float: right;
        margin-right: px2rem(15);
        width: px2rem(17);
        height: px2rem(17);
        margin-top: px2rem(8);
        background: url(../../assets/images/header/search_btn_default.png) no-repeat;
      }
      &:hover {
        background: rgba(255,255,255,.7);
      }
    }
    // search box --end

    // right-nav --start
    .nav-right-wrap {
      min-width: px2rem(395);
      height: 100%;
      float: right;
      ul{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        li {
          float: left;
          margin: px2rem(12) 0 0 px2rem(10);
          font-size: px2rem(12);
          color: #fff;
          opacity: 0.6;
          .nav-right-item {
            color: #fff;
            line-height: px2rem(28);
            padding: px2rem(5);
            .item {
              float: left;
              width: px2rem(23);
              height: px2rem(20);
              margin-top: px2rem(5);
              background: url('../../assets/images/header/header_icon.png') no-repeat;
            }
            .icon1 {
              background-position: 0 -90px;
            }
            .icon2 {
              background-position: 0 -161px;
            }
            .icon3 {
              background-position: 0 -232px;
            }
            .icon4 {
              background-position: 0 -305px;
            }
            .icon5 {
              background-position: 0 -376px;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    // right-nav --end
  }
}