@import '../../style/base.scss';
@import '../../style/reset.scss';
$banner-height:  px2rem(650);
$header-img: url('../../assets/images/banner/banner-bg.jpg') no-repeat;;
.zzdj-banner-wrap {
  width: 100%;
  position: relative;
  height: $banner-height;
  &:before {
    content: ' ';
    display: block;
    width: 100%;
    height: $banner-height;
    background: $header-img;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}